/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Từ tổng quan đến chi tiết

*/

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng

*/

#app {
}
#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
#slider {
  background: url('/assets/imgs/bgdatg.jpg') top center /cover no-repeat;
  margin-top: 46px;
  padding-top: 50%;
  position: relative;
}

#slider .text-content{
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

#slider .text-heading{
  font-size: 36px;
  font-weight: 700;
}

#slider .text-description{
  font-weight: 400;
  margin-top: 25px;
}


#content {
}
#footer {
}

.nav, .subnav{
    list-style-type: none;
}

.nav{
    display: inline-block;
}

.nav > li {
  display: inline-block;
  position: relative;
}

.nav .nav-arrow-down{
    font-size: 14px;
}

.nav li:hover .subnav{
    display: block;
}

.nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}

.nav > li > a {
  color: white;
  text-transform: uppercase;
}

.nav .subnav li:hover,
.nav > li:hover > a {
  color: black;
  background-color: #ccc;
}

.nav .subnav {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
  top: 100%;
}

.nav .subnav a{
    color: black;
    padding: 8px 16px;
    line-height: 22px;

}

.nav-item {
}

#header .search-icon{
    color: white;
    font-size: 20px;
    line-height: 46px;
}

#header .search-btn{
    padding: 0 21px;
    float: right;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

/* Conttent */

.content-section{
  width: 800px;
  
  margin: 60px auto 0 auto;
  
}

.content-section .section-heading{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

.content-section .section-description{
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.8;
}

.content-section .about-text{
  text-align: justify;
  margin-top: 25px;
  line-height: 1.4;
}

.band-team {
  margin-top: 32px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0;
  width: 100%;
}

.member-name{
  margin: 10px 0;
}

.band-member {
  text-align: center;
  display: inline-block;
  width: 33.33%;
  text-align: center;
  font-size: 16px; 
  vertical-align: top; 
  padding: 0 10px;
}

.member-img {
  width: 100%;
  height: auto; 
  border-radius: 4px;
}

.section-tour{
  background-color: black;
  width: 100%;
  padding-bottom: 10px;
}

.text-white{
  color: white !important;
}

.section-tour{
  padding-top: 25px;
}

.tickets-list{
  background-color: white;
  margin-top: 25px;
  list-style: none;
}

.tickets-list > li{
  color: #757575;
  
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.sold-out{
  background-color: #f44336;
  color: white;
  padding: 3px 4px;
  margin-left: 16px;
}

.quantity{
  float: right;
  width: 24px;
  height: 24px;
  background-color: black;
  line-height: 24px;
  text-align: center;
  color: white;
  border-radius: 50%;
  margin-top: -3px;
}

.place-list {
  text-align: center;
  margin: 32px -29px 0 -29px;
}

.place-item {
  display: inline-block;
  width: calc((100% / 3) - 16px); 
  padding: 0 8px; 
  vertical-align: top; 
  font-size: 16px; 
  background-color: white;
  border-radius: 5px;
}

.place-img:hover{
  opacity: 0.6;
}

.place-img {
  margin-top: 10px;
  width: 100%;
  height: 200px; 
  object-fit: cover; 
}

.place-time{
  color: #757575;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.place-content {
  height: 100%;
  min-height: 150px; 
}

.place-description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.buy-btn{
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
}

.buy-btn:hover{
  background-color: #f44336;
}

/* Xây dựng modal mua vé */
.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0; 
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* display: none; */
  align-items: center;
  justify-content: center; 
  display: none;
}

.modal.open{
  display: flex;
}

.modal-content{
  background-color: white;
  width: 900px;
  min-height: 200px;
  max-width: calc(100% - 32px);
  animation: modal-show ease 0.5s;
}

.modal-content header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 44px;
}

.modal footer{
  display: flex;
  justify-content: center;
}

.modal footer .btn{
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 500;
  margin: 12px 4px 8px 4px;
}

.modal footer .btn-pay{
  background-color: green;
  color: white;
  transition: background-color 0.3s ease;
}

.modal footer .btn-pay:hover{
  background-color: darkgreen;
}

button{
  border: none;
}

.modal footer .btn-close{
  background-color: red;
  color: white;
  transition: background-color 0.3s ease;
}

.modal footer .btn-close:hover{
  background-color: darkred;
}

.modal-lable{
  margin: 16px 0 12px 0;
  display: block;
  font-size: 15px;
}

.modal-input{
  height: 40px;
  width: 100%;
}

.modal-body{
  padding: 16px;

}

.modal footer button:hover{
  /* PHỦ LÊN BUTTON MỘT MÀU TRONG SUỐT ĐEN */
  
}

@keyframes modal-show {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}